.footer {
    max-width: 100vw;
    display: flex;
    color: #7E7E82;
    font-size: 14px;
    font-weight: normal;
    margin-top: auto;
    background-color: #F8F8F8;
    border-top:solid 1px #B8FFEC;
}

.footer__command {
    justify-content: start;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
}

.footer__politic {
    transition: color 0.3s ease-in-out;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.footer__politic:hover {
    color:#FF3E79;
    cursor: pointer;
}

.footer__info {
    padding-top: 30px;
    padding-right: 30px;
    text-align: right;
    transition: color 0.3s ease-in-out;

}